.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Alap stílusok */

html {
  scrollbar-gutter: stable;
}

body {
  background-color: #f8f9fa;
}

.header {
  padding: 10px;
  background-color: #740000;
  color: white;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.header h1 {
  display: inline-block;
  font-family: fantasy;
  font-size: 100px;
  
}

.header h1 .jump {
  display: inline-block;
  animation: jump 3s infinite ease-in-out;
}

/* Ugráló animáció */
@keyframes jump {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
    color: #f4a261;
  }
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ad-box {
  background-color: white;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ad-box h5 {
  margin-top: 0;
}

.ad-box img {
  max-width: 100%;
  border-radius: 5px;
}


/* Alap stílusok a navbarhoz */

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #740000a4;
  display: flex;
  /* Flexboxot használunk a fülek középre igazításához */
  justify-content: center;
  /* Középre igazítja a navigációs elemeket */
}

ul.topnav li {
  float: none;
  margin: 0 15px;
  /* Eltávolítja a float-ot, mert flexboxot használunk */
}

ul.topnav li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

ul.topnav li a:hover:not(.active) {
  background-color: #ffffff2a;
  transform: scale(1.05);
}

ul.topnav li a.active {
  background-color: #ffffff93;
}

ul.topnav li.right {
  float: none;
  /* Ne legyen jobbra igazítva */
}


/* Reszponzív kisebb képernyőkre */

@media screen and (max-width: 600px) {
  ul.topnav {
    flex-direction: column;
    /* Mobilon oszd szét függőlegesen */
  }

  .header h1 {
    font-size: 50px;
  }

  .wrapper {
    width: 90%;
    padding: 15px;
  }

  .card {
    width: 100%;
    max-width: 350px;
  }
}


/* cardok */
.card {
  width: 400px;
  aspect-ratio: 1 / 0.7;
  position: relative;
  cursor: pointer;
  background: #fff;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 0 0 20px #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  padding: 20px;
  margin: 20px;

}

.card .image-box {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  position: relative;
  z-index: 1;
}

.card .image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
  transition: 0.5s ease-in-out;
}

.feljo{
  text-align: center;

  color: #fff;
}

.card::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid white;
  border-radius: inherit;
  opacity: 0;
  transition: 0.4s ease-in-out;
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
}

.card:hover img {
  filter: grayscale(1) brightness(0.4);
}

.card:hover::after {
  opacity: 1;
  inset: 20px;
}

.feljo {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

.card:hover .feljo {
  opacity: 1;
  visibility: visible;
}




/* Login és Regisztrációs formák stílusai */

.wrapper {
  position: relative;
  width: 100%;
  max-width: 750px;
  margin: 5% auto;
  height: auto;
  background: #fff;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 0 0 20px #000;
  overflow: hidden;
  display: flex;
  transition: all 0.3s ease-in-out;
  padding: 20px;
}

.form-box {
  width: 100%;
  /* Az alapértelmezett szélesség */
  height: auto;
  display: none;
  /* Alapértelmezetten elrejtjük */
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  box-sizing: border-box;
}


/* A regisztrációs form aktiválásakor */

.wrapper.active .form-box.register {
  display: block;
  /* Megjeleníti a regisztrációs formot */
}

.wrapper.active .form-box.login {
  display: none;
  /* Elrejti a bejelentkezés formot */
}


/* A bejelentkezési form alapértelmezetten aktív */

.wrapper .form-box.login {
  display: block;
}

.input-box {
  position: relative;
  margin-bottom: 15px;
}

.input-box input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.input-box label {
  position: absolute;
  top: -12px;
  left: 15px;
  font-size: 12px;
  color: #555;
  background: #fff;
  padding: 0 5px;
}

button.btn {
  width: 100%;
  padding: 12px;
  background-color: #740000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button.btn:hover {
  background-color: #740000a4;
}

.register-link {
  text-align: center;
  margin-top: 15px;
}

.register-link a {
  color: #02b3e9;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .wrapper {
      flex-direction: column;
      padding: 10px;
  }
  .wrapper .form-box {
      width: 100%;
  }
}

/*-------------------------*/
/*Modal*/
/* Modal overlay (háttér) */
.modal-overlay {
  position: absolute;
  top: 27.5%;
  left: 25%;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  color: #333;
  background-color: white;
  
}

/* Modális tartalom (ablak) */
.modal-content {
  background-color: #ffffff;
  text-align: center;
  border-radius: 15px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  /* max-width: 500px; */
  position: relative;
  z-index: 1001;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  border: 1px solid #e0e0e0;
  animation: fadeIn 0.3s ease-in-out;
  overflow: auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Záró gomb */
.close-btn {
  position: absolute;
  top: 40px;
  right: 40px;
  font-size: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #333;
  transition: color 0.3s ease;
}

.close-btn:hover {
  color: #000; /* Egér rávitelével sötétebb szín */
}

.modal-content h2 {
  margin-top: 0;
  font-size: 24px;
  color: #333;
  text-align: center;
}

.modal-content h3 {
  font-size: 18px;
  color: #555;
  text-align: center;
  margin-bottom: 20px;
}

.modal-description {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* A modál képei */
.modal-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.modal-images img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Inaktív lefjo stílus */
.feljo.inactive {
  opacity: 1;  /* Csökkentett átláthatóság, jelezve, hogy inaktív */
  pointer-events: none;  /* Megakadályozza, hogy kattinthass rá */
}





/*-----------*/
/* New house */
/* Form container */
.new-listing-form {
  width: 100%;
  max-width: 600px;
  margin: 2.5% auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 20px #000;
  font-family: Arial, sans-serif;
  border: 2px solid #000;
  
}

.new-listing-form h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.input-box {
  position: relative;
  margin-bottom: 20px;
}

.input-box input,
.input-box textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-sizing: border-box;
}

.input-box textarea {
  height: 100px;
  resize: vertical;
}

.input-box label {
  position: absolute;
  top: -10px;
  left: 10px;
  font-size: 14px;
  color: #666;
  background-color: #fff;
  padding: 0 5px;
  transition: 0.2s;
}

.input-box input:focus,
.input-box textarea:focus {
  border-color: #007bff;
}

.input-box input:focus + label,
.input-box textarea:focus + label {
  top: -20px;
  left: 5px;
  font-size: 12px;
  color: #007bff;
}

.error-text {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}



.message {
  margin-top: 20px;
  padding: 10px;
  background-color: #e0ffe0;
  color: #4caf50;
  text-align: center;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .new-listing-form {
    padding: 15px;
  }

  .input-box input,
  .input-box textarea {
    font-size: 14px;
  }

}



/* map*/ 
.google-map {
  width: 400px;
  height: 300px;
  border: 0;
}












/* naptar */ 
/* Flexbox elrendezés a kártyák és a naptár elhelyezéséhez */
/* Konténer a kártyáknak és a naptárnak */

.cards-and-calendar {
  display: flex; /* Flexbox elrendezés */
  justify-content: flex-start; /* Alapértelmezetten a kártyák balra igazítva */
  align-items: flex-start; /* A kártyák és a naptár egy szinten helyezkednek el */
  gap: 20px; /* Kis távolság a kártyák és a naptár között */
  flex-wrap: wrap; /* Ha nem férnek el egymás mellett, új sorba kerüljenek */
}

/* Naptár */
#naptar-container {
  width: 300px; /* Naptár szélessége */
  margin-left: 20px; /* Kis távolság a kártyáktól */
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex-shrink: 0; /* Megakadályozza, hogy a naptár összenyomódjon */
}

.container.content {
  display: flex;
  justify-content: space-between; /* Kártyák és naptár közötti távolság beállítása */
  align-items: flex-start; /* A kártyák és naptár magasságát igazítjuk */
  flex-wrap: nowrap; /* Nem engedjük, hogy új sorba törjenek */
}


.naptar-container {
  width: 25%; /* Naptár szélessége */
  margin-left: 20px; /* Kis távolság a kártyáktól */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start; /* A naptár balra igazítása */
}

#naptar-container {
  width: 25%;
  margin: 20px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#honap-ev-cim {
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
}

#het-napjai {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  text-align: center;
  margin-bottom: 10px;
}

.het-nap {
  font-weight: bold;
}

#napok {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  text-align: center;
}

.nap {
  padding: 10px;
  cursor: default;
}

.nap.ures {
  background-color: #f0f0f0;
}

.nap:hover {
  background-color: #e0e0e0;
}
